:root {
    --dark: #0F1020;
    --dark-p: #2F195F;
    --lav: #EFC3F5;
    --white: #fff;
    --hot: hotpink  
}

#footer{
    background-color: var(--lav);
}

#footer:hover{
    background-color: var(--dark-p);
    color: var(--lav);
}