:root {
    --dark: #0F1020;
    --dark-p: #2F195F;
    --lav: #EFC3F5;
    --white: #fff;
    --hot: hotpink  
}

#navTop{
    background-color: var(--lav);
}

#name{
    margin-left: 2%;
}

#navTop:hover{
    background-color: var(--dark-p);
}

.nav-item:hover{
color: var(--lav);
}
